# Default owner
* @Tony83400 @aNovaely-VM

# Platform configuration
/.github/ @aNovaely-VM

# Application code
/src/ @aNovaely-VM

# Tests
/test/ @aNovaely-VM

# Deployment configuration
/deploy/ @aNovaely-VM
